html {
  font-size: 10px;

  @include respond($breakpoint-tablet) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

#app {
  overflow-x: hidden;
  font-family: $montserrat;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  overflow: visible;
}
