html {
  font-size: 9px;

  @include respond($breakpoint-mobile-medium) {
    font-size: 11px;
  }

  @include respond($breakpoint-tablet) {
    font-size: 14px;
  }

  @include respond($breakpoint-laptop) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

#app {
  overflow-x: hidden;
  font-family: $montserrat;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  overflow: visible;
}
