.breadcrumb {
  z-index: 5;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 2rem;

  margin: 1rem;

  border-radius: 0.5rem;

  background-color: $green;

  color: #fff;
  font-size: 2rem;
  font-weight: 800;

  transition: opacity 0.5s ease-in;

  opacity: 0;

  &--show {
    opacity: 1;
  }

  &--failed {
    background-color: $red;
  }
}
