.contacts {
  margin: $space-between-partials 0;
  margin-bottom: $space-between-partials - 10rem;
  padding: 5rem;

  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  font-family: $montserrat;

  .message-group,
  form,
  .social-group {
    display: flex;
    flex-direction: column;
  }

  &,
  .social-links,
  .mail {
    display: flex;
  }

  .message-group {
    label {
      font-size: 3rem;
      margin: 1rem 0;
    }

    input[type="submit"] {
      background-color: $blue;
      border: 0;
      outline: none;
      color: #fff;
      padding: 1rem 1.5rem;
      font-family: inherit;
      border-radius: 0.5rem;
      font-size: 2rem;
      font-weight: 600;
    }

    input.sending {
      background-color: $gray;
    }

    input.sent {
      background-color: $green;
    }

    input,
    textarea {
      resize: none;
      border: 0;
      outline: none;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

      height: rem;
      padding: 1rem;
      font-size: 2.5rem;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
    }

    h1 {
      font-size: 4rem;
      color: $blue;
    }

    textarea {
      height: 15rem;
    }
  }

  svg {
    margin: 1.5rem;
    width: 6rem;
    height: 6rem;
  }

  .social-links {
    justify-content: center;
    margin-top: 2rem;
  }

  .mail {
    p {
      font-family: $montserrat;
      font-weight: 400;
      font-size: 2.5rem;
    }
    align-items: center;
  }
}
