.intro {
  margin: $space-between-partials auto;
  margin-top: 10rem;
  position: relative;

  max-width: $max-width;

  &__background {
    position: absolute;
    right: 0;
    top: -5rem;
    z-index: -1;

    svg {
      position: absolute;
      top: -5rem;
      right: 0;

      width: 50rem;
      height: 50rem;
    }

    .flyingwithlaptop {
      top: 5rem;

      width: 35rem;
      height: 35rem;

      animation-name: floating;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  &__title {
    margin: 1rem 3rem;
    font-family: $montserrat;
    border-left: 0.5rem solid $blue;
    padding: 0.5rem 2.5rem;
    padding-bottom: 0;

    &-text {
      margin: 0;

      font-size: 5.5rem;
      font-weight: 500;
      &--blue {
        color: $blue;
      }
    }

    &-position {
      margin: 1rem 0;
      font-weight: 300;
      font-size: 3rem;
    }
  }

  &__links {
    display: flex;
    margin-left: 3rem;

    svg {
      margin: 1.5rem 0;
      margin-right: 3rem;
      width: 5rem;
      height: 5rem;
    }
  }
}
