@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotating-inverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.skills {
  margin: $space-between-partials 0;
  padding: 7rem 0;
  position: relative;

  display: flex;
  justify-content: center;

  &__logo {
    margin: auto;

    width: 45rem;
    height: 45rem;

    // border-radius: 50%;
    // border: 1px solid black;

    animation-name: rotating;
    animation-duration: 180s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    svg.person-float {
      left: 7rem;
      top: 8rem;
      z-index: 1;
      width: 35rem;
      height: 35rem;
    }

    > svg {
      position: absolute;
      width: 15rem;
      height: 15rem;

      animation-name: rotating-inverse;
      animation-duration: 180s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      &:nth-child(2) {
        left: 16rem;
        top: -7rem;
      }
      &:nth-child(3) {
        left: 38rem;
        top: 11rem;
      }
      &:nth-child(4) {
        left: 26rem;
        top: 35rem;
      }
      &:nth-child(5) {
        left: -1rem;
        top: 31rem;
      }
      &:nth-child(6) {
        left: -6rem;
        top: 7rem;
      }
    }
  }
}
