.skills {
  margin: $space-between-partials 0;
  padding: 7rem 0;
  padding-top: 20rem;
  position: relative;

  display: flex;
  justify-content: center;

  font-family: $montserrat;

  h1 {
    position: absolute;
    left: auto;
    top: 7rem;
    z-index: 1;
    font-size: 3rem;
    font-weight: 800;
    color: $blue;
  }

  svg.clouds2 {
    position: absolute;
    top: 10rem;

    height: auto;

    max-width: 80rem;
    width: 200vw;
  }

  &__logo {
    margin: auto;
    z-index: 2;

    width: 30rem;
    height: 30rem;

    // border-radius: 50%;
    // border: 1px solid black;

    animation-name: rotating;
    animation-duration: 180s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    img.person-float,
    .logo-group {
      animation-name: rotating-inverse;
      animation-duration: 180s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    img.person-float {
      position: absolute;
      left: 6rem;
      top: 5rem;
      z-index: 1;
      width: 20rem;
      height: 20rem;
    }

    .logo-group {
      position: absolute;
      width: 7rem;
      height: 7rem;

      .logo-title {
        z-index: 2;
        padding: 1rem 0;
        text-align: center;
        position: absolute;
        width: 100%;
        bottom: -4rem;
        margin: 0;
      }

      &:nth-child(2) {
        left: 11rem;
        top: -4rem;
      }
      &:nth-child(3) {
        right: -3rem;
        top: 8rem;
      }
      &:nth-child(4) {
        left: 21rem;
        bottom: 0rem;
      }
      &:nth-child(5) {
        left: 4rem;
        bottom: 0rem;
      }
      &:nth-child(6) {
        left: -3rem;
        top: 9rem;
      }
    }
  }
}
