<div class="bio">
  <div class="bio__text-group">
    <h1 class="bio__header">
      I specialize in
      <span class="bio__header--blue">Frontend Development.</span>
    </h1>
    <p class="bio__text">
      Turning static design to a dynamic user-interface is what I love to do. I
      find obsession in building something beautiful and interactive.
    </p>
    <p class="bio__text">
      As a software developer, I don’t limit myself to only a handful of skills
      and technologies. I love to constantly learn new things even outside of
      comfort zone, so I can be better each day.
    </p>
  </div>
  <div class="bio__vector"><%= require("../assets/sitting.svg") %></div>
</div>
