<a id="portfolio">
  <div class="portfolio">
    <h1>Recent Work</h1>
    <div class="card-container">
      <div class="work-card getall"><%= require("../assets/getall.svg") %></div>
      <div class="work-card"><%= require("../assets/speedregalo.svg") %></div>
      <div class="work-card blitz">
        <img src="<%= require("../assets/blitz.png").default %>" />
      </div>
    </div>
  </div>
</a>
