<div class="resume">
  <div class="resume__entry">
    <div class="entry__head">
      <%= require("../assets/workicon.svg") %>
      <h1>Work Experience</h1>
    </div>
    <div class="entry__text">
      <h2>White Cloak Technologies</h2>
      <p>Frontend Web Developer</p>
      <p>2020</p>
    </div>
    <div class="entry__text">
      <h2>ChannelFix</h2>
      <p>Intern - Frontend Web Developer</p>
      <p>2018</p>
    </div>
  </div>
  <div class="resume__entry">
    <div class="entry__head">
      <%= require("../assets/educationicon.svg") %>
      <h1>Education</h1>
    </div>
    <div class="entry__text">
      <h2>University of San Carlos</h2>
      <p>Bachelor of Science in Computer Science</p>
      <p>2015-2018</p>
      <p>
        Award: <span class="text--blue">Cum Laude</span
        ><span class="entry__medal"
          ><%= require("../assets/medalicon.svg") %>
        </span>
      </p>
    </div>
  </div>
  <div class="resume__entry">
    <div class="entry__head">
      <%= require("../assets/coursesicon.svg") %>
      <h1>Online Courses</h1>
    </div>
    <div class="entry__text">
      <h2>MERN Stack Front To Back: Full Stack React, Redux & Node.js</h2>
      <p class="text--blue">
        <a
          href="https://www.udemy.com/certificate/UC-d66a0526-2d95-4ea4-aeb4-9c7164d452a8/"
          >Certificate</a
        >
      </p>
    </div>
  </div>
</div>
