<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Bojo Luis Alcisto" />
    <meta name="description" content="Developer's Portfolio" />
    <meta name="title" content="Bojo's Portfolio" />
    <meta property="og:title" content="Bojo Luis Alcisto" />
    <meta property="og:description" content="Developer's Portfolio" />
    <meta property="og:image" content="<% require("./assets/me.png") %>" />
    <meta property="og:url" content="https://bojo-portfolio.herokuapp.com/" />
    <title>Boj.</title>
  </head>
  <body>
    <div id="app">
      <div id="breadcrumb" class="breadcrumb"></div>
      <%= require("./partials").map(val=>val).join("") %>
    </div>
  </body>
</html>
